{% extends 'base.html'%}
{% block content %}
    <h1>Add a recipe</h1>
<h2>Recipe</h2>
<div class="col s12">
    <form class="col s12" action="{{ url_for('recipe_updated', username=username, recipeId=recipeId) }}" method='POST' id='edit_recipe_form'>
        <div class="row">
            <div class="input-field col s12">
                <input value="{{ recipe.name }}" id="edit_name" name="name" type="text" class="validate" data-length="30">
                <label class="active" for="name">Name</label>
            </div>
      </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="edit_description" name="description" class="materialize-textarea" data-length="500"></textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <p class="range-field">
                <label for="cookingTime">Cooking time <strong>(minutes)</strong></label>
                <input value="{{ recipe.cookingtime }}" id="edit_cookingTime" name="cookingtime" type="range" min="0" max="300" />
            </p>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select name="servings">
                    <option selected">{{ recipe.servings }}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <label>How many does it serve</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select name="course">
                    <option selected>{{ recipe.course.capitalize() }}</option>
                    <option value="starter">Starter</option>
                    <option value="main">Main</option>
                    <option value="desert">Desert</option>
                </select>
                <label>Type of course</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input value="{{ recipe.countryOfOrigin }}" id="edit_origin" name="origin" type="text" class="validate" data-length="30"/>
                <label for="origin">Country of origin</label>
            </div>
        </div>
        <div class="row">
            <label for="ingredients">Enter ingredients</label>
            <div id="edit_ingredients" name="ingredients" class="chips chips-initial-edit"></div>
            <input id="edit_ingredients-list" name="ingredients-list" type="text" style="visibility: hidden" />
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select name="option_amount" id="edit_option_amount">
                    <option name="stepAmount" selected>{{ counter }}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label>Number of steps</label>
        </div>
        <div class="row stepFields">
            
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="button" sadsadsadname="action" onclick="submitForm()">Create recipe
            <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form> 
</div>
<script>

$(document).ready(function() {
    i=1
    $('select').formSelect();
    $("textarea#edit_description").val('{{ recipe.description }}');
    $('input#edit_name, textarea#edit_description, textarea#edit_origin, textarea#edit_step').characterCounter();
    update_steps();
    {% for method in methods %}
    $('#{{ method.stepNumber }}').val('{{ method.description }}')
    i ++
    {% endfor %}
        
});

$( "#edit_option_amount" ).change( function() {
    update_steps();

});

$('.chips-initial-edit').chips({
        data: [
        {% for ingredient in ingredients %}
        {
          tag: "{{ ingredient.name }}",
        },
        {% endfor %}
        ],
});
      
function update_steps(){
    $('.stepFields').empty();
        var limit = parseInt($("#edit_option_amount").val());
        console.log(limit);
        for(var i = 1; i < limit + 1; i++){
            $('.stepFields').append('<div class="input-field col s12">\
                    <textarea id="'+ i +'" name="step" class="materialize-textarea" data-length="300"></textarea>\
                    <label for="description">Step ' + i +'</label>\
                </div>');
    };
        
}  

    function submitForm() {
        var ingredients = M.Chips.getInstance($('.chips-initial-edit'));
        console.log(ingredients);
        var data = ingredients.chipsData.map(function (o) {return o.tag;}).join(",");
        console.log(data);
        $('#edit_ingredients-list').val(data);
        $('#edit_recipe_form').submit();
    }



</script>
{% endblock %}