{% extends 'base.html'%}
{% block content %}

<h1>My Recipes</h1>
<p>Hello {{ username }}!</p>

<a class="waves-effect waves-light btn" href="{{ url_for('add_recipe', username=username) }}"><i class="material-icons right">add_circle</i>Add recipe</a>

<div class="row">
{% for recipe in recipes %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/blue0517.jpg?itok=V3825voJ">
          <span class="card-title">{{ recipe.name }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>{{ recipe.description }}</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('edit_recipe', username=username, recipeId= recipe.recipeId)  }}" class="waves-effect waves-light btn green"><i class="material-icons left">border_color</i>Edit</a>
          <a href="{{ url_for('edit_recipe', username=username, recipeId= recipe.recipeId) }}" class="waves-effect waves-light btn red"><i class="material-icons left">cancel</i>Delete</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}