{% extends 'base.html'%}
{% block content %}

<!--##################################QUERYING RECIPES###################################-->
<div class="row">
  <h1>Search recipes</h1>
</div>

<div class="row">
  <h4>Custom filter</h4>
</div>
<form class="col s12" action="{{ url_for('queried_recipes', username=username) }}" method='POST' id='recipe-form' >
  <div class="row">
    <p class="range-field">
      <label for="cookingTime">Cooking time <strong>(minutes)</strong></label>
      <input type="range"  id="cookingTime" name="cookingTime"  min="0" max="300"/>
    </p>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <select  id="servings" name="servings" class="validate">
        <option value="" selected>Enter an option</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
      <label>How many does it serve</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <select  id="course" name="course"  class="validate">
        <option value="" selected>Enter an option</option>
        <option value="starter">Starter</option>
        <option value="main">Main</option>
        <option value="dessert">Dessert</option>
      </select>
      <label>Type of course</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea  id="origin" name="origin" class="materialize-textarea validate" data-length="30" ></textarea>
      <label for="origin">Country of origin</label>
    </div>
  </div>
  <div class="row">
    <label for="ingredients">Enter ingredients</label>
    <div id="ingredients" name="ingredients" class="chips chips-initial validate" ></div>
    <input  id="ingredients-list" name="ingredients-list" type="text" style="visibility: hidden"/>
  </div>

  <div class="row input-field">
    <button class="btn waves-effect waves-light" type="button" onclick="submitForm()">Search
      <i class="material-icons right">search</i>
    </button>
  </div>
</form> 
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript">

  $(document).ready(function() {
    $('textarea#origin').characterCounter();
    $('select').formSelect();
  });

  $('.chips-initial').chips({
    data: [{
      tag: 'Example',
    }, {
      tag: 'ingredient'
    }],
  });

  function submitForm() {
    var ingredients = M.Chips.getInstance($('.chips-initial'));
    console.log(ingredients);
    var data = ingredients.chipsData.map(function (o) {return o.tag;}).join(",");
    console.log(data);
    $('#ingredients-list').val(data);

    var isValidForm = $('#recipe-form')[0].checkValidity();
    if (isValidForm)
    {
      $('#recipe-form').submit();
    }
    else
    {
      return false;
    }
  }
</script>
{% endblock %}